*{
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: sans-serif;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*box1*/
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background: url(../images/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.8px solid white;
}

/*box2*/
.add-first{
    font-size: 0.75rem;
    margin-left: 16px;
    color: #cccccc;
}

.add-second{
    font-size: 1rem;
    margin-left: 5px;
    color: #ffffff;
}

.add-icon{
    display: flex;
}

/*box3*/
#nav-search{
    display: flex;
    justify-content: space-evenly
}

#nav-search{
    display: flex;
    background-color: hotpink;
    width: 700px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}


.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

#nav-search:hover{
    border: 2px solid orange;
}

/*box4*/
span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: bold;
}

/*box6*/
#nav-cart{
    font-size: 0.9rem;
    font-weight: bold;
}

#nav-cart i{
    font-size: 1.6rem;
}

/*panel*/
#panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options{
    width: 70%;
}

.panel-options p{
    display: inline;
    font-size: 0.8rem;
    margin-left: 15px;
}

.panel-deals{
    font-size: 0.85rem;
    font-weight: bold;
}

/*hero-section*/
#hero-section{
    background: url(../images/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    margin-bottom: 40px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/*Shop-section*/

#shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fe390b;
}

.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    
}

.box-img{
    height: 230px;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 10px;
}

.box-content{
    margin: 15px
}

.box-content p{
    color: #007185;
    margin-top: 40px;
}

/*Footer Section*/
footer{
    margin-top: 15px;
}


#foot-panel1{
    height: 49px;
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

#foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

#foot-panel2 ul{
    margin-top: 50px;
}

#foot-panel2 ul p{
    font-weight: bold;
}

#foot-panel2 ul a{
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: 10px;
    color: #dddddd;
}

#foot-panel3{
    background-color: #222f3d;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background: url(../images/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

#foot-panel4{
    height: 77px;
    background-color: #0f1111;
    color: white;
}

.conditions{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 20px;
}

.copyrights{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;
}









